{% extends "base.html" %}
{% block content %}

    <div class="tb">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">No</th>
                    <th scope="col">No Pol</th>
                    <th scope="col">No Blok</th>
                    <th scope="col">Waktu</th>
                    <th scope="col">Harga</th>
                    <th scope="col">action</th>
                </tr>
            </thead>
            <!-- {% for d in data1 %} -->
            <tbody>
                <tr>
                    <th scope="row">{{forloop.counter}}</th>
                    <td>{{d.nopol}}</td>
                    <td>{{d.noblok}}</td>
                    <td>{{d.dtg}}</td>
                    <td>{{d.harga}}</td>
                    <td>
                        <a href="{{d.id}}/hapus"><button type="button" class="btn btn-danger m-2">Hapus</button></a>
                    </td>
                </tr>
            </tbody>
            <!-- {% endfor %} -->
        </table>
    </div>
{% endblock %}